
<%- include("partials/headerNormal.ejs") %>

<div class="col-12 col-lg-4">
    <section class="comments">
        <!-- Aquí irán los comentarios -->
    </section>
    <!-- Formulario para agregar comentarios -->
    <form class="form" action="/" method="POST" >
        <label for="nombreUsuario">Nombre de Usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" required>

        <label for="textoComentario">Texto del Comentario:</label>
        <textarea id="textoComentario" name="textoComentario" rows="4" required></textarea>

        <label for="imagenPerfil">Imagen de Perfil:</label>
        <input type="file" id="imagenPerfil" name="imagenPerfil" required>

        <button type="submit">Agregar Comentario</button>
    </form>
</div>

<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->

