<%- include("partials/headerLogueado.ejs") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12">
				<form action="/agregar_producto" method="POST" enctype="multipart/form-data">
					<label for="imagen">Imagen:</label>
					<input type="file" id="imagen" name="imagen" accept="image/*" required>
					<br><br>
					<label for="nombre">Nombre del producto:</label>
					<input type="text" id="nombre" name="nombre" required>
					<br><br>
					<label for="descripcion">Descripción:</label>
					<textarea id="descripcion" name="descripcion" rows="4" required></textarea>
					<br><br>
					<button type="submit">Agregar Producto</button>
				</form>
			</div>
		</div>
	</div>


<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->
</body>

</html>